body {
  background-color: rgba(99, 99, 104, 0.795);
}

.scores {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10rem;
}

.selections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.4rem;
}

.selection {
  background-color: rgb(114, 114, 156);
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
  border: none;
}

.selection:hover {
  background-color: rgb(102, 102, 163);
}

.replay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.replay > button {
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
}
